<!-- <div class="container">
  <p>user-profile-bar works!</p>
  <p>{{user | json}}</p>
</div> -->

<div class="rocc-user-page-bar-container">
  <div class="user-info">
    <img class="user-avatar" src="https://via.placeholder.com/200x200" />
    <div>Awesome user</div>
    <div>
      <div>@awesome-user</div>
      <mat-icon>verified</mat-icon>
    </div>
  </div>
  <div class="user-content">
    <div class="user-organizations">
      <mat-icon>home_work</mat-icon>
      <span>number organizations</span>
    </div>
    <div class="user-favorites">
      <mat-icon>star</mat-icon>
      <span>number favorites</span>
    </div>
  </div>

  <button mat-raised-button>Edit your profile</button>
</div>
