<!-- <div class="container">
  <p>user-profile-bar works!</p>
  <p>{{user | json}}</p>
</div> -->

<div class="rocc-user-page-bar-container">
  <div class="user-info">
      <!-- {{this.userAvatar}} -->
      <sage-avatar [avatar]= "userAvatar">
      </sage-avatar>
    <div>{{user.name}}</div>
    <div>
      <div>@{{user.login}}</div>
      <mat-icon>verified</mat-icon>
    </div>
  </div>
  <div class="user-content">
    <div class="user-organizations">
      <mat-icon>home_work</mat-icon>
      <span>number organizations</span>
    </div>
    <div class="user-favorites">
      <mat-icon>star</mat-icon>
      <span>number favorites</span>
    </div>
  </div>

  <button mat-raised-button>Edit your profile</button>
</div>
