.mat-card {
  position: relative;
  margin: 20px 10px;
  transition: 0.2s;
  transition-property: box-shadow;

  &:hover, &:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.mat-card-title {
  margin-left: -16px; // align header title with content
}

.tags-box {
  display: inline-table;
}

.tags {
  background-color: #e55a17; // #8e92de
  color: #fff;
  border-radius: 20px;
  margin: 8px 8px 8px 0;
}

.info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 2em;
  align-items: center;

  .intros {
    justify-self: left;
  }

  .dates {
    justify-self: right;
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 100%;

    b {
      text-align: right;
      padding-right: 10px;
    }
  }
}

.logo {
  position: absolute;
  right: 26px; // 16 + 10 align card
  top: 26px;
  height: 60px;
  z-index: 2;
}
