<main>
  <mat-card class="container">
    <mat-card-title class="title">Set up your organization</mat-card-title>
    <mat-card-content>
      <form class="form-container" [formGroup]="newOrgForm" novalidate>
        <mat-form-field class="name">
          <input matInput placeholder="Organization account name" type="text"
            formControlName="name">
          <mat-hint [innerHTML]="getNameHint()"></mat-hint>
          <mat-error *ngIf="name?.invalid">{{getNameErrorMessage()}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="email">
          <input matInput placeholder="Contact email" type="email"
            formControlName="email">
          <mat-error *ngIf="email?.invalid">{{getEmailErrorMessage()}}
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="errors.other">{{errors.other}}</mat-error>
        <div>
          <button mat-raised-button color="primary" [disabled]="newOrgForm.invalid"
            (click)="createOrgAccount()">Create organization</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</main>
<sage-footer></sage-footer>