@import 'src/styles/constants';

$base_size: 10px;

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.rocc-challenge-detail-header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  height: 200px;
  color: #fff;
  background-image: url('~/src/assets/img/challenge-view-header-background.png');
  background-size: cover;
  padding: 15px 30px;
  font-size: $base_size;

  .rocc-challenge-detail-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // top left section
    .rocc-challenge-detail-header-top-left-container {
      display: flex;
      flex-direction: column;

      .rocc-challenge-detail-header-top-routerlink-container {
        display: inline-flex;
        align-items: center;
        margin: 10px 0;

        .mat-icon {
          margin-right: 5px;
          font-size: 20px;
        }

        a {
          font-size: 1.5em;
        }

        span {
          margin: 0 5px;
          font-size: 1.8em;
        }
      }

      .rocc-challenge-detail-title-container {
        display: inline-flex;
        align-items: center;

        span {
          margin: 10px 15px 10px 0;
          font-size: 3em;
          line-height: 1em;
        }

        .mat-icon-button {
          font-size: 30px;
          line-height: unset;

          .rocc-challenge-favorite-icon {
            color: #f1d07e;
          }
        }
      }

      .rocc-challenge-detail-header-status-container {
        display: flex;
        align-items: center;
        font-size: 1.5em;

        span {
          margin: 10px 0;
          padding-right: 15px;
          border-right: 1px #fff solid;
        }

        a {
          margin: 10px 0;
          padding-left: 15px;
        }
      }
    }

    // top right section
    .rocc-challenge-detail-header-logo-container {
      img {
        height: 100px;
        max-width: 100px;
      }
    }
  }

  .rocc-challenge-detail-header-bottom {
    width: 80%;
    margin: 10px auto;

    .mat-progress-bar {
      height: 3em;
      border-radius: 20px;
    }

    .rocc-challenge-detail-dates-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      font-size: 1.5em;
    }
  }
}

// @media (max-width: $small-breakpoint-width) {
//   .rocc-challenge-detail-header-container {
//     min-height: 1500px;
//     font-size: 8px;
//   }

//   .rocc-challenge-detail-title-container span {
//     margin-right: 12px !important;
//   }
// }

// @media (max-width: $extra-small-breakpoint-width) {
//   .rocc-challenge-detail-header-container {
//     min-height: 100px;
//     font-size: 6px;
//   }

//   .rocc-challenge-detail-header-top-box-right {
//     display: none !important;
//   }
// }
