<mat-tab-group (selectedTabChange)="tabMonitor($event)" animationDuration="0ms">
  <mat-tab *ngFor="let tabName of tabLabelList" label="{{tabName}}">
    <mat-card *ngFor="let c of newChallenges">
      <div mat-card-avatar class="synapse-icon"></div>
      <mat-card-header>
        <mat-card-title>{{c.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="tags-box">
          <button mat-raised-button class="tags" *ngFor="let tag of c.tagIds">{{tag}}</button>
        </div>
        <div class="info">
          <div class="intros">{{c.description}}</div>
          <div class="dates">
            <span><b>Start Date</b>{{c.startDate}}</span>
            <span><b>End Date</b>{{c.endDate}}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>