<section>
  <div *ngIf="challenge$ | async as challenge"
    class="rocc-challenge-overview-top-container">
    <p>{{challenge.description}}</p>
    <mat-divider></mat-divider>
    <div class="rocc-challenge-overview-topics-container">
      <button 
        mat-raised-button class="rocc-challenge-overview-topics"
        *ngFor="let topic of mockTopics">
        {{topic}}
      </button>
    </div>
  </div>
  <div class="rocc-challenge-overview-bottom-container">
    <span>Introduction</span>
    <div *ngIf="readme$ | async as readme">
      <p>{{readme.text}}</p>
    </div>
  </div>
</section>