<section>
  <div *ngIf="challenge"
    class="rocc-challenge-overview-top-container">
    <!-- <p>{{challenge.description}}</p>
    <mat-divider></mat-divider> -->
    <div class="rocc-challenge-overview-topics-container">
      <button
        mat-raised-button class="rocc-challenge-overview-topics"
        *ngFor="let topic of challenge.topics">
        {{topic}}
      </button>
    </div>
  </div>
  <div class="rocc-challenge-overview-bottom-container">
    <span>Introduction</span>
    <div *ngIf="readme$ | async as readme">
      <p>{{readme.text}}</p>
    </div>
    <span>Organizers</span>
    <div class="rocc-challenge-organizers-container">
      <table mat-table matSort [dataSource]="dataSource" *ngIf="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">
            <div>
              <sage-avatar [avatar]="getAvatar(element.name)"></sage-avatar>
              {{element.name}} 
            </div>
          </td>
        </ng-container>
        <!-- Login Column -->
        <ng-container matColumnDef="login">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>UserId</th>
          <td mat-cell *matCellDef="let element"> 
            <a routerLink="/{{element.login}}">@{{element.login}}</a>
          </td>
        </ng-container>
        <!-- Roles Column -->
        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
          <td mat-cell *matCellDef="let element">{{element.roles.join(', ')}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</section>