$base-size: 14px;

:host ::ng-deep .p-multiselect {
  min-width: 260px;
  font-size: $base-size;

  .p-multiselect-trigger {
    width: 3em;
    span {
      font-size: $base-size;
    }
  }
  .p-multiselect-label {
    width: 215px;
  }
  .p-multiselect-token {
    padding: 0.25rem 0.5rem;
  }
}

:host ::ng-deep .p-multiselect-header {
  padding: (0.5 * $base-size) $base-size;

  .p-multiselect-filter {
    padding: 0.5rem;
  }

  .p-multiselect-filter-container {
    input {
      font-size: $base-size;
    }
  }

  .p-multiselect-close {
    display: none;
  }
}

:host ::ng-deep .p-multiselect-item {
  font-size: $base-size;
  padding: (0.5 * $base-size) $base-size !important;
  border-bottom: 1px solid #e9ecef !important;

  .value-card-container {
    display: inline-flex;
    align-items: center;

    sage-avatar {
      margin-right: 14px;
    }

    .value-card-title {
      display: flex;
      flex-direction: column;

      span {
        max-width: 120px;
        word-wrap: break-word;
        white-space: normal;
      }

      .value-card-subtitle {
        font-size: 0.8 * $base-size;
      }
    }
  }
}

:host ::ng-deep .p-multiselect-empty-message {
  padding: 0 !important;
  font-size: $base-size;
  text-align: center;
}
