<div class="rocc-challenge-list">
  <div class="rocc-challenge-list-filters">
    <h3>Challenge Status</h3>
    <p>TODO: Add checkbox-filter</p>
    <h3>Order by</h3>
    <p>TODO: Add select-filter</p>
    <h3>Preview</h3>
    <p>TODO: Add button-toogle-filter</p>
  </div>

  <div class="rocc-challenge-list-content">
    <p>TODO: Add search-filter</p>
    <span class="rocc-challenge-list-content-results-count">{{searchResultsCount}} results</span>
    <div class="rocc-challenge-list-content-results">
      <mat-nav-list class="rocc-challenge-list-content-results-list">

      </mat-nav-list>
    </div>
  </div>
</div>