<div class="rocc-challenge-list">
  <div class="rocc-challenge-list-filters">
    <h3>Challenge Status</h3>
    <p>TODO: Add checkbox-filter</p>
    <h3>Order by</h3>
    <select-filter [filters]="orderFilters" group="orderBy"></select-filter>
    <h3>Preview</h3>
    <!-- <p>TODO: Add button-toogle-filter</p> -->
  </div>

  <div class="rocc-challenge-list-content">
    <!-- <p>TODO: Add search-filter</p> -->
    <search-filter class="rocc-challenge-list-content-search-filter" group="name"></search-filter>
    <span class="rocc-challenge-list-content-results-count">{{searchResultsCount}} results</span>
    <div class="rocc-challenge-list-content-results">
      <mat-nav-list class="rocc-challenge-list-content-results-list">
        <rocc-challenge-list-item
          *ngFor="let challenge of challenges"
          [challenge]="challenge"
          (challengeClick)="onChallengeClick($event)"
        ></rocc-challenge-list-item>
      </mat-nav-list>

      <div class="rocc-challenge-list-more-results">
        <a
          *ngIf="searchResultsCount - challenges.length > 0"
          mat-raised-button
          class="rocc-challenge-list-more-results-btn"
          color="primary"
          (click)="showMoreResults()"
        >More Results
        </a>
      </div>
    </div>
  </div>
</div>