<main>
  <form class="form-container" [formGroup]="signupForm" novalidate>
    <mat-form-field>
      <input matInput placeholder="Enter your email" type="email"
        formControlName="email">
      <mat-error *ngIf="email?.invalid">{{getEmailErrorMessage()}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Create a password" type="password"
        formControlName="password">
      <mat-error *ngIf="password?.invalid">{{getPasswordErrorMessage()}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter a username" type="text"
        formControlName="username">
      <mat-error *ngIf="username?.invalid">{{getUsernameErrorMessage()}}
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="errors.other">{{errors.other}}</mat-error>
    <div>
      <button mat-raised-button color="primary" [disabled]="signupForm.invalid"
        (click)="createUserAccount()">Sign up</button>
    </div>
  </form>
</main>
<sage-footer></sage-footer>