<mat-card *ngIf="challenge">
  <div [ngClass]="{'featured-bg' : challenge.featured}"></div>
  <div class="header-container">
    <mat-card-header>
      <mat-card-title>
        {{challenge.displayName}}
        <button mat-icon-button
          (click)="toggleStar($event)" 
          [matTooltip]="getStarredTooltip()"
          matTooltipPosition="above">
          <mat-icon *ngIf="starred" class="starred-icon" inline=true>
            star
          </mat-icon>
          <mat-icon *ngIf="!starred" inline=true >
            star_border
          </mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle class="rocc-challenge-topics-container">
        <a href="" *ngFor="let topic of challenge.topics" >
          #{{topic}}
        </a>
      </mat-card-subtitle>
    </mat-card-header>
    <a href="{{platform.websiteUrl}}" *ngIf="platform$ | async as platform" (click)="toggleLink($event)">
      <img class="rocc-challenge-platform-logo" src="{{platform.avatarUrl}}"> 
    </a>
  </div>
  <mat-card-content>
    <div class="rocc-challenge-left-content-container">
      <div class="rocc-challenge-descriptions">{{challenge.description}}</div>
      <div class="rocc-challenge-stats-container">
        <div class="rocc-challenge-status">
          <mat-icon class="{{challenge.status}}" inline=true>circle</mat-icon> 
          <strong>{{challenge.status | titlecase}}</strong>
        </div>
        <div matTooltip="number of views">
          <mat-icon inline=true>trending_up</mat-icon>: 
          <strong>{{challenge.viewCount}}</strong>
        </div>
        <div matTooltip="number of participants">
          <mat-icon inline=true>face</mat-icon>: 
          <strong>{{challenge.participantCount}}</strong>
        </div>
        <div *ngIf="numberSubmissions" matTooltip="number of submissions">
          <mat-icon inline=true>upload</mat-icon>: 
          <strong>{{numberSubmissions}}</strong>
        </div>
        <div matTooltip="number of stargazers">
          <mat-icon inline=true>auto_awesome</mat-icon>: 
          <strong>{{numberStarred}}</strong>
        </div>
      </div>
    </div>
    <div class="rocc-challenge-dates-container">
      <span *ngIf="!!challenge.startDate">
        <b>Start Date :</b>{{challenge.startDate | date: "yyyy-MM-dd":"UTC"}}
      </span>
      <span *ngIf="!!challenge.endDate">
        <b>End Date :</b>{{challenge.endDate | date: "yyyy-MM-dd":"UTC"}}
      </span>
    </div>
  </mat-card-content> 
</mat-card>