.mat-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 0.5em;
  transition: 0.2s;
  transition-property: box-shadow;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
.header-container {
  display: flex;
  justify-content: space-between;

  .mat-card-title {
    display: inline-flex;
    align-items: center;
    margin-left: -16px;
    margin-bottom: 0;
    font-size: 1.6em;

    .mat-icon-button {
      height: inherit;
      margin-left: 5px;
      font-size: 1em;

      .mat-icon {
        vertical-align: top;

        &.starred-icon {
          color: #f1d07e;
        }
      }
    }
  }

  .mat-card-subtitle {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -16px;

    a {
      margin-right: 8px;
      color: #8e92de;
      font-size: 1em;
      white-space: nowrap;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .rocc-challenge-platform-logo {
    height: 4.5em;
    width: 4.5em;
    z-index: 2;
  }
}

.mat-card-content {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  grid-gap: 2em;
  align-items: center;
  height: 100%;
  font-size: 1em;

  .rocc-challenge-left-content-container {
    justify-self: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;

    .rocc-challenge-descriptions {
      margin-bottom: 0.5em;
    }

    .rocc-challenge-stats-container {
      display: flex;
      margin-top: auto;

      div {
        display: inline-flex;
        align-items: center;

        strong {
          margin-left: 5px;
          margin-right: 10px;
        }
      }
    }
  }

  .rocc-challenge-dates-container {
    justify-self: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    min-height: 4em;
    text-align: right;

    span {
      margin-top: 5px;
    }

    b {
      text-align: right;
      padding-right: 10px;
    }
  }
}

.rocc-challenge-status {
  .active {
    color: green;
  }
  .upcoming {
    color: orange;
  }
  .completed {
    color: gray;
  }
}
