<mat-card *ngIf="challenge">
  <a href="{{platform.websiteUrl}}" *ngIf="platform$ | async as platform">
    <img class="rocc-challenge-platform-logo" (click)="toggleLink($event)"
      src="{{platform.avatarUrl}}" alt="platform-logo"> 
  </a>
  <mat-card-header>
    <mat-card-title>{{challenge.displayName}}</mat-card-title>
    <button mat-icon-button *ngIf="loggedIn" (click)="toggleStar($event)">
      <mat-icon mat-card-avatar *ngIf="starred" class="rocc-challenge-favorite-icon">
        star
      </mat-icon>
      <mat-icon *ngIf="!starred">
        star_border
      </mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="rocc-challenge-left-content-container">
      <div class="rocc-challenge-topics-container">
        <a href="" class="rocc-challenge-topic" *ngFor="let topic of challenge.topics">
          #{{topic}}
        </a>
      </div>
      <div class="rocc-challenge-descriptions">{{challenge.description}}</div>
      <div class="rocc-challenge-stats-container">
        <div>
          <mat-icon class="rocc-challenge-{{challenge.status}}">circle</mat-icon> 
          <strong>{{challenge.status}}</strong>
        </div>
        <div *ngIf="!!numberSubmissions" matTooltip="number of submissions">
          <mat-icon>trending_up</mat-icon>: 
          <strong>{{numberSubmissions}}</strong>
        </div>
        <div *ngIf="!!numberRegistrants" matTooltip="number of registrants">
          <mat-icon>face</mat-icon>: 
          <strong>{{numberRegistrants}}</strong>
        </div>
        <div matTooltip="number of stargazers">
          <mat-icon>auto_awesome</mat-icon>: 
          <strong>{{numberStarred}}</strong>
        </div>
      </div>
    </div>
    <div class="rocc-challenge-dates-container">
      <span *ngIf="!!challenge.startDate">
        <b>Start Date :</b>{{challenge.startDate | date: "yyyy-MM-dd":"UTC"}}
      </span>
      <span *ngIf="!!challenge.endDate">
        <b>End Date :</b>{{challenge.endDate | date: "yyyy-MM-dd":"UTC"}}
      </span>
    </div>
  </mat-card-content> 
</mat-card>