<div class="container" *ngIf="user$ | async as user">
  <rocc-user-profile-bar [user]="user" [numOrgs]="orgs.length"
    class="user-profile-sticky-bar">
  </rocc-user-profile-bar>
  <div class=main-container>
    <nav mat-tab-nav-bar>
      <ng-container *ngFor="let key of tabKeys">
        <a mat-tab-link *ngIf="tabs[key].visible" routerLink="."
          (click)="activeTab = tabs[key]" [active]="activeTab === tabs[key]"
          [queryParams]="{tab: key}">{{tabs[key].name}}</a>
      </ng-container>
    </nav>

    <ng-container [ngSwitch]="activeTab">
      <rocc-user-profile-overview *ngSwitchCase="tabs['overview']" [user]="user"
        [orgs]="orgs"></rocc-user-profile-overview>
      <rocc-user-profile-challenges *ngSwitchCase="tabs['challenges']"
        [userId]="accountId"></rocc-user-profile-challenges>
      <rocc-user-profile-starred *ngSwitchCase="tabs['starred']" [user]="user" [loggedIn]="loggedIn">
      </rocc-user-profile-starred>
    </ng-container>
  </div>
</div>