<main>
  <div class="header">
    <div class="mat-display-2">Welcome back, {{ username }}!</div>
    <button mat-raised-button color="accent" class="btn"
      routerLink="explore">Explore Challenges</button>
    <button mat-raised-button class="btn" *ngIf="user"
      [routerLink]="[username]">Update Profile</button>
    Configuration: {{appConfig | json}}

    <sage-avatar [name]="user.name" [src]="user.avatarUrl" [size]=100></sage-avatar>
    <sage-avatar [name]="user.name" [size]=60></sage-avatar>
  </div>
</main>

<sage-footer></sage-footer>