<main>
  <section id="landing">
    <div class="container">
      <div class="landing-inner">
        <div class="landing-content">
          <h1>I want to find challenges related to
            <ngx-typed-js [strings]="['breast cancer.', 'immunotherapy.', 'EHR.', 'imaging analysis.']" [loop]="true"
              [typeSpeed]="65" [backSpeed]="15">
              <span class="typing"></span>
            </ngx-typed-js>
          </h1>
          <p class="landing-paragraph">The Registry of Community Challenges (ROCC) strives to provide a centralized hub
            of biomedical challenges from various hosting organizations. Our goal is to empower both participants with
            the most up-to-date information about relevant challenges, as well as organizers with standardized challenge
            templates and intelligence.</p>
          <h4>Let the ROCC help find the perfect challenge for you!</h4>
          <div class="search field field-grouped">
            <div class="control control-expanded">
              <input class="input" type="search" name="search" placeholder="I am interested in...">
            </div>
            <div class="control">
              <a class="btn btn-primary" href="/search">Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="statistics" class="section">
    <div class="container">
      <div class="section-inner">
        <h3 class="section-title text-center">
          Current landscape
        </h3>
        <!-- TODO: replace hard-coded numbers -->
        <div class="row" *ngIf="registry$ | async as registry">
          <div class="col text-center">
            <h2 [countUp]="registry.challengeCount">0</h2>
            <p>annotated challenges</p>
          </div>
          <div class="col text-center">
            <h2 [countUp]="registry.orgCount">0</h2>
            <p>organizations & hosting societies</p>
          </div>
          <div class="col text-center">
            <h2 [countUp]="registry.userCount">0</h2>
            <p>registered users</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="topics" class="section cards">
    <div class="container">
      <div class="cards-inner section-inner">
        <div class="cards-header text-center">
          <h3 class="section-title">Explore trending topics</h3>
        </div>
        <div class="cards-wrap">
          <!-- TODO: replace hard-coded cards with ngFor, e.g.

          <div class="card trending-card text-center" *ngFor="let trend in trendList | async">
            <div class="card-inner">
              <h4 class="card-title">{{ trend.title }}</h4>
              <p class="text-sm">{{ trend.count }} active challenges</p>
            </div>
          </div>
          -->
          <div class="card trending-card text-center">
            <div class="card-inner">
              <h4 class="card-title">Drug Response</h4>
              <p class="text-sm">3 active challenges</p>
            </div>
          </div>
          <div class="card trending-card text-center">
            <div class="card-inner">
              <h4 class="card-title">Cancer</h4>
              <p class="text-sm">6 active challenges</p>
            </div>
          </div>
          <div class="card trending-card text-center">
            <div class="card-inner">
              <h4 class="card-title">Electronic Health Record</h4>
              <p class="text-sm">2 active challenges</p>
            </div>
          </div>
          <div class="card trending-card text-center">
            <div class="card-inner">
              <h4 class="card-title">COVID-19</h4>
              <p class="text-sm">3 active challenges</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="organizations" class="section">
    <div class="container">
      <div class="section-inner">
        <h3 class="section-title text-center">Discover challenge hosts</h3>
        <div class="row">
          <!-- TODO: replace hard-coded cards with ngFor -->
          <div class="col org-card text-center">
            <img
              src="https://raw.githubusercontent.com/Sage-Bionetworks/rocc-app/7e8c4f27849796ce52df74118de32b3a6f1159e1/images/logo/sage-bionetworks.png"
              alt="sage">
            <h4>Sage Bionetworks</h4>
            <div class="card-footer">
              <a href="#">@sage</a>
            </div>
          </div>
          <div class="col org-card text-center">
            <img
              src="https://raw.githubusercontent.com/Sage-Bionetworks/rocc-app/7e8c4f27849796ce52df74118de32b3a6f1159e1/images/logo/miccai.png"
              alt="miccai">
            <h4>MICCAI</h4>
            <div class="card-footer">
              <a href="#">@miccai</a>
            </div>
          </div>
          <div class="col org-card text-center">
            <img
              src="https://raw.githubusercontent.com/Sage-Bionetworks/rocc-app/7e8c4f27849796ce52df74118de32b3a6f1159e1/images/logo/cagi.png"
              alt="cagi">
            <h4>CAGI</h4>
            <div class="card-footer">
              <a href="#">@cagi</a>
            </div>
          </div>
          <div class="col org-card text-center">
            <img src="https://raw.githubusercontent.com/Sage-Bionetworks/rocc-app/main/images/logo/precisionfda.png"
              alt="precisionfda">
            <h4>PrecisionFDA</h4>
            <div class="card-footer">
              <a href="#">@precisionfda</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="organizer-cta" class="section dark text-light">
    <div class="container-sm">
      <div class="row">
        <div class="col">
          <!-- TODO: add image? -->
        </div>
        <div class="col">
          <div class="section-inner">
            <h2 class="section-title text-left">Are you a challenge organizer?</h2>
            <p>Add your challenges to the ROCC database and see the participant numbers roll in.</p>
            <div class="control">
              <!-- TODO: update path -->
              <a class="btn btn-block" href="#">Add" a challenge</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="featured-challenges" class="section cards">
    <div class="container">
      <div class="cards-inner section-inner">
        <div class="cards-header text-center">
          <h3 class="section-title">Featured challenges</h3>
          <p class="text-sm">Not sure where to start? Try one of the following featured challenges!</p>
        </div>
        <div class="cards-wrap">
          <!-- TODO: replace hard-coded cards with qngFor -->
          <div class="card text-center">
            <div class="card-inner">
              <div class="card-banner acc1">
                <svg width="88" height="128" xmlns="http://www.w3.org/2000/svg"></svg>
              </div>
              <h4 class="card-title">EHR COVID-19 Challenge</h4>
              <p class="text-sm">Synapse</p>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-inner">
              <div class="card-banner acc2">
                <svg width="88" height="128" xmlns="http://www.w3.org/2000/svg"></svg>
              </div>
              <h4 class="card-title">RSNA-ASNR-MICCAI Brain Tumor Segmentation (BraTS)</h4>
              <p class="text-sm">Synapse, Kaggle</p>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-inner">
              <div class="card-banner acc3">
                <svg width="88" height="128" xmlns="http://www.w3.org/2000/svg"></svg>
              </div>
              <h4 class="card-title">CAGI6: Annotate All Missense</h4>
              <p class="text-sm">Synapse</p>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-inner">
              <div class="card-banner acc4">
                <svg width="88" height="128" xmlns="http://www.w3.org/2000/svg"></svg>
              </div>
              <h4 class="card-title">2021 Kidney and Kidney Tumor Segmentation</h4>
              <p class="text-sm">Grand Challenge</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="acknowledgements" class="section">
    <div class="container">
      <div class="section-inner">
        <h4 class="section-title text-center">
          The ROCC project was made possible by...
        </h4>
        <div class="row">
          <div class="col text-center">
            <h3>ITCR grant</h3>
            <p class="text-sm"><a href="https://reporter.nih.gov/project-details/9952095">U24 CA248265</a></p>
          </div>
          <div class="col text-center">
            <img src="https://www.openapis.org/wp-content/uploads/sites/3/2016/10/OpenAPI_Pantone-768x204.png"
              height="80px" alt="openapi">
          </div>
          <div class="col text-center">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Amazon_Web_Services_Logo.svg/300px-Amazon_Web_Services_Logo.svg.png"
              height="80px" alt="aws">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<sage-footer></sage-footer>