main {
  min-height: 100vh;
}

.header {
  padding-top: 50px;
  text-align: center;
}

.btn {
  border-radius: 8px;
  padding: 4px 12px;
  margin: 4px
}

.btn:hover {
  background-color: #052B38;
  color: #fff
}