$base_size: 12px;

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.rocc-org-header-container {
  display: flex;
  align-items: center;
  width: auto;
  height: 200px;
  padding: 15px 30px;
  color: #fff;
  background-image: url('~/src/assets/img/challenge-view-header-background.png');
  background-size: cover;
  font-size: $base_size;

  img {
    width: 180px;
    height: 180px;
  }
}

.rocc-org-header-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 60px 40px 30px 40px;
}

.rocc-org-header-title-container {
  display: flex;
  align-items: center;

  .rocc-org-header-title {
    font-size: 3em;
    font-weight: 900;
  }
  .rocc-org-header-link-container {
    display: flex;
    flex-direction: column;

    a,
    div {
      display: inline-flex;
      align-items: flex-end;

      .mat-icon {
        margin-left: 30px;
        margin-right: 5px;
      }
    }

    a {
      margin-bottom: 5px;
    }
  }
}

.rocc-org-header-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rocc-org-header-info-left-container {
    p {
      font-size: 1.5em;
    }
  }

  .rocc-org-header-info-right-container ul {
    list-style: none;
    display: table;
    border-spacing: 10px;

    li {
      display: table-row;
      font-size: 1.5em;
    }

    span {
      display: table-cell;
      padding-right: 5px;
    }

    strong {
      padding-left: 5px;
    }
  }
}
