<div class="rocc-org-header-container">
  <img src="{{tmpOrg.avatarUrl}}" alt="org-logo">
  <div class="rocc-org-header-content-container">
    <div class="rocc-org-header-title-container">
      <span class="rocc-org-header-title">{{tmpOrg.name}}</span>
      <div class="rocc-org-header-link-container">
        <a href="{{tmpOrg.websiteUrl}}" target="_blank"><mat-icon>travel_explore</mat-icon></a>
        <mat-icon>mail_outline</mat-icon>
      </div>
    </div>
    <div class="rocc-org-header-info-container">
      <div class="rocc-org-header-dates-container">
        <span>Joined: {{org.createdAt | date: "yyyy-MM-dd":"UTC"}}</span>
      </div>
      <div class="rocc-org-header-stats-container">
        <span>Challenges: <strong>{{numChallenges}}</strong></span>
        <span>People: <strong>{{numPeople$ | async}}</strong></span>
      </div>
    </div>
  </div>  
</div>