<main>
  <div class="app-primary-header app-tool-list-header">
    <h1 class="app-primary-header-title">Challenges</h1>
    <!-- <a
        mat-raised-button
        color="warn"
        class="app-tool-list-new-tool-btn"
        (click)="newTool()"
        aria-label="Create a new tool"
        ><mat-icon class="app-project-list-new-project-btn-icon" *ngIf="!canCreateTool">lock</mat-icon>New Tool</a
    > -->
</div>

  <!-- <p>explore works!</p>
  <div class="content">
    <div class="filter-bar">
      <p>filter section</p>
    </div>
    <div class="container">
      <rocc-challenge-preview></rocc-challenge-preview>
    </div>
    <div class="news">
      <p>news section</p>
    </div>
  </div> -->

</main>

<sage-footer></sage-footer>