.rocc-challenge-detail-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width: 100%; 
  overflow: visible;
}

.rocc-challenge-detail-header-container {
  position: relative;
  color: #fff;
  min-height: 300px; 
  background-image: url('../../../../assets/img/challenge-view-header-background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;

  a {
    color: #fff;
    cursor: pointer;
  }

  .rocc-challenge-detail-header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .rocc-challenge-detail-header-top-box-left {
      display: flex;
      flex-direction: column;
      
      a {
        margin: 30px;
        position: relative;

        &::before { // go back arrow
          border-left: 2px #fff solid;
          border-top: 2px #fff solid;
          content: "";
          transform: rotate(-45deg);
          display: block;
          left: -10px;
          top: 5px;
          height: 10px;
          width: 10px;
          position: absolute;
        }
      }

      span {
        margin: 0 40px 0 30px; 
        font-size: 3em;
      }
    }

    .rocc-challenge-detail-header-top-box-right {
      span {
        margin-right: 40px;
        font-size: 2em;
      }
    }
  }

  .rocc-challenge-detail-header-middle {
    display: flex;
    align-items: center;
    margin: 30px;
    font-size: 1.5em;

    span {
      border-right: 1px #fff solid; 
      padding: 10px
    }

    a {
      padding: 10px;
    }
  }

  .rocc-challenge-detail-header-bottom {
      width: 80%;
      margin: 0 auto;

      .rocc-challenge-detail-header-bottom-box-top {
        border: red 2px solid;
        height: 40px;
        margin-bottom: 10px;
      }

      .rocc-challenge-detail-header-bottom-box-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }


  }
}

.container-style {
  margin: 15px;
  padding: 0 30px;
}

.mat-card-title {
  font-size: 3em;
  margin: 40px 0 !important;
}

.rocc-challenge-detail-content-container {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 30px;

  .rocc-challenge-detail-content-overview-container {
    @extend .container-style;

    p {
    font-size: 2em;
    line-height: 1.4em;
    }

    .rocc-challenge-detail-content-tags-container {
    
      display: inline-table;
      margin: 18px 0 30px 0;
  
      .rocc-challenge-tags {
        background-color: #7879F1;
        color: #fff;
        border-radius: 30px;
        margin: 0 15px;
        font-size: 1.8em;
        height: 60px;
        min-width: 120px;
      }
    }
  }

  .rocc-challenge-detail-content-organizer-container {
    @extend .container-style;

    .mat-card-content {
      display: flex;
      overflow-y: scroll;

      span {
        display: flex;
        font-size: 1.5em;
      }
    }
  }

  .rocc-challenge-detail-content-organization-container {
    @extend .container-style;

    .mat-card-content {
      display: flex;
      overflow-y: scroll;

      span {
        display: flex;
        font-size: 1.5em;
      }
    }
  }
}
