<main>
  <div class="container" *ngIf="org$ | async as org">
    <rocc-org-header [org]="org"></rocc-org-header>
    <p>organization works!</p>

    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let section of sections"
        [routerLink]="section.path" routerLinkActive #rla="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
        [active]="rla.isActive">{{section.label}}</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <rocc-not-found *ngIf="orgNotFound"></rocc-not-found>
</main>

<sage-footer></sage-footer>