main {
    min-height: 100vh;
}

.mat-card {
  position: relative;
  width: 450px;
  margin: 20px 10px;
  transition: 0.2s;
  transition-property: box-shadow;

  &:hover, &:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}
