
<!-- <main *ngIf="challenges$ | async as challenges"> -->
  <main>
  <sage-search-filter class="rocc-challenge-list-content-search-filter"
    name="searchTerms" [values]="searchTermsFilterValues">
  </sage-search-filter>
  <rocc-challenge-card 
    *ngFor="let challenge of challenges"
    (click)="onClick('/' + challenge.fullName)"
    [challenge]="challenge"
    [loggedIn]="loggedIn">
  </rocc-challenge-card>
  <mat-paginator
    [length]="searchResultsCount" 
    [pageSizeOptions]="[10]"
    [hidePageSize]="true"
    (page)="onPaginate($event)">
  </mat-paginator>
</main>