.container {
  width: 1200px;
  // min-height: 1000px;
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: row;
  color: #000;
  font-size: 16px;
}

.search-bar-container {
  padding: 40px 20px;
  min-width: 260px;
  min-height: 100%;
  background-color: #fff;
}

.filter-container {
  padding: 20px 0;
  border-top: 1px solid #e6e5e5;

  h2 {
    margin-bottom: 12px;
    font-weight: bold;
  }

  .scroll-box {
    ::ng-deep ul {
      max-height: 200px;
      overflow-y: auto;
    }
  }
}

.search-content-container {
  padding: 40px 20px;
  width: 100%;

  .search-content-filter-container {
    display: flex;
    align-items: center;
    padding-bottom: 20px !important;

    .view-filter-container {
      display: inline-flex;
      align-items: center;

      span {
        margin-right: 16px;
      }

      ::ng-deep .mat-button-toggle-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
      }
    }

    sage-sort-filter {
      margin-left: auto !important;
    }
  }

  .rocc-challenge-list-content-search-filter {
    margin-bottom: 20px;
  }
}

// .rocc-challenge-list-content-results-count {
//   margin-bottom: 20px;
// }

.mat-paginator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #000;
  background-color: transparent;
}

.rocc-challenge-list-more-results {
  display: flex;
  justify-content: center;
}

.rocc-challenge-list-more-results-btn {
  margin-top: 25px;
  width: 400px;
}
