<div class="container">
  <div class="search-bar-container">
    <h3>Year</h3>
    <sage-radio-button-filter 
      name="startYearRange" 
      [values]="challengeStartYearRangeFilterValues"
      [range]="selectedYearRange"
      (timeOfChanged)="yearRangeChanged($event)">
    </sage-radio-button-filter>
    <h3>Start Date</h3>
    <sage-date-range-filter
      name="startDateRange"
      [values]="challengeStartDateRangeFilterValues"
      [range]= "selectedDateRange"
      (timeOfChanged)="dateRangeChanged($event)">
    </sage-date-range-filter>
    <h3>Status</h3>
    <sage-checkbox-filter name="status" [values]="challengeStatusFilterValues">
    </sage-checkbox-filter>
    <h3>Difficulty</h3>
    <sage-checkbox-filter name="difficulty" [values]="challengeDifficultyFilterValues">
    </sage-checkbox-filter>
    <h3>Submission Type</h3>
    <sage-checkbox-filter name="submissionTypes" [values]="challengeSubmissionTypesFilterValues">
    </sage-checkbox-filter>
    <h3>Input Data Type</h3>
    <sage-checkbox-filter class="scroll-box" name="inputDataTypes" [values]="challengeInputDataTypesFilterValues">
    </sage-checkbox-filter>
    <h3>Incentive Type</h3>
    <sage-checkbox-filter name="incentiveTypes" [values]="challengeIncentiveTypesFilterValues">
    </sage-checkbox-filter>
    <h3>Platforms</h3>
    <sage-checkbox-filter name="platformIds"
      [values]="challengePlatformFilterValues"></sage-checkbox-filter>
    <!-- <h3>Preview</h3>
    <sage-button-toggle-filter name="previewType" [values]="previewTypeFilterValues">
    </sage-button-toggle-filter> -->
  </div>
  <div class="search-content-container">
    <sage-search-filter class="rocc-challenge-list-content-search-filter"
      name="searchTerms" [values]="searchTermsFilterValues">
    </sage-search-filter>
    <!-- <span
      class="rocc-challenge-list-content-results-count">{{searchResultsCount}}
      results</span> -->

    <mat-nav-list class="challenge-search-results">
      <rocc-challenge-card *ngFor="let challenge of challengeList | async"
        [challenge]="challenge"  [loggedIn]="loggedIn" (click)="onClick('/' + challenge.fullName)">
      </rocc-challenge-card>
      <mat-paginator
      [length]="searchResultsCount" 
      [pageSizeOptions]="[10, 25, 50]"
      (page)="onPaginate($event)">
    </mat-paginator>
    </mat-nav-list>

    <!-- <div class="rocc-challenge-list-more-results">
      <a *ngIf="searchResultsCount - challenges.length > 0" mat-raised-button
        class="rocc-challenge-list-more-results-btn" color="primary"
        (click)="showMoreResults()">More Results
      </a>
    </div> -->
  </div>
</div>