.container {
  width: 1200px;
  // min-height: 1000px;
  background-color: rgb(216, 216, 216);

  display: flex;
  flex-direction: row;
}

.search-bar-container {
  min-width: 260px;
  min-height: 100%;
  background-color: #f3f3f3;
}

.search-content-container {
  padding: 40px 20px;
  flex-grow: 1;
}
