<div class="container">
  <div class="search-bar-container">
    <div class="filter-container">
    <h2>Year</h2>
      <sage-radio-button-filter 
        name="startYearRange" 
        [values]="challengeStartYearRangeFilterValues"
        [range]="selectedYearRange"
        (timeOfChanged)="yearRangeChanged($event)">
      </sage-radio-button-filter>
    </div>
    <div class="filter-container">
      <h2>Start Date</h2>
      <sage-date-range-filter
        name="startDateRange"
        [values]="challengeStartDateRangeFilterValues"
        [range]= "selectedDateRange"
        (timeOfChanged)="dateRangeChanged($event)">
      </sage-date-range-filter>
    </div>
    <div class="filter-container">
      <h2>Status</h2>
      <sage-checkbox-filter name="status" [values]="challengeStatusFilterValues">
      </sage-checkbox-filter>
    </div>
    <div class="filter-container">
      <h2>Difficulty</h2>
      <sage-checkbox-filter name="difficulty" [values]="challengeDifficultyFilterValues">
      </sage-checkbox-filter>
    </div>
    <div class="filter-container">
      <h2>Submission Type</h2>
      <sage-checkbox-filter name="submissionTypes" [values]="challengeSubmissionTypesFilterValues">
      </sage-checkbox-filter>
    </div>
    <div class="filter-container">
      <h2>Input Data Type</h2>
      <sage-checkbox-filter class="scroll-box" name="inputDataTypes" [values]="challengeInputDataTypesFilterValues">
      </sage-checkbox-filter>
    </div>
    <div class="filter-container">
      <h2>Incentive Type</h2>
      <sage-checkbox-filter name="incentiveTypes" [values]="challengeIncentiveTypesFilterValues">
      </sage-checkbox-filter>
    </div>
    <div class="filter-container">
      <h2>Platforms</h2>
      <sage-checkbox-filter class="scroll-box" name="platformIds" [values]="challengePlatformFilterValues">
      </sage-checkbox-filter>
    </div>
    <div class="filter-container">
      <h2>Organizations</h2>
      <sage-search-dropdown-filter name="organizations" [values]="orgFilterValues">
      </sage-search-dropdown-filter>
    </div>
    <div class="filter-container">
    <h2>Users (tmp)</h2>
      <sage-search-dropdown-filter name="organizers" [values]="userFilterValues">
      </sage-search-dropdown-filter>
    </div>
    <!-- <h2>Preview</h2>
    <sage-button-toggle-filter name="previewType" [values]="previewTypeFilterValues">
    </sage-button-toggle-filter> -->
  </div>
  <div class="search-content-container">
    <sage-search-filter class="rocc-challenge-list-content-search-filter"
      name="searchTerms" [values]="searchTermsFilterValues">
    </sage-search-filter>
    <br>
    <div class="search-content-filter-container">

      <div class="view-filter-container">
        <span>View as</span>
        <mat-button-toggle-group #group="matButtonToggleGroup" (change)="changeDisplay(group.value)">
          <mat-button-toggle value="list">
            <mat-icon>view_list</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="grid">
            <mat-icon>grid_view</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <sage-sort-filter name="sort" [values]="sortByFilterValues"></sage-sort-filter>
    </div>
    <div class="challenge-search-results" [ngSwitch]="display">
      <div *ngSwitchCase="'list'">
        <mat-nav-list class="challenge-search-results">
          <rocc-challenge-card *ngFor="let challenge of challengeList | async"
            [challenge]="challenge"  [loggedIn]="loggedIn" (click)="onClick('/' + challenge.fullName)">
          </rocc-challenge-card>
        </mat-nav-list>
      </div>
      <div *ngSwitchCase="'grid'">
        <mat-grid-list cols="3" rowHeight="2:1">
          <mat-grid-tile *ngFor="let challenge of challengeList | async">
            {{challenge.displayName}}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <mat-paginator
      [length]="searchResultsCount" 
      [pageSizeOptions]="[10, 25, 50]"
      (page)="onPaginate($event)">
    </mat-paginator>
    <!-- <div class="rocc-challenge-list-more-results">
      <a *ngIf="searchResultsCount - challenges.length > 0" mat-raised-button
        class="rocc-challenge-list-more-results-btn" color="primary"
        (click)="showMoreResults()">More Results
      </a>
    </div> -->
  </div>
</div>