main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 800px;
  max-width: 800px;
}

.title {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.owner-option {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.challenge-full-name {
  display: flex;
  flex-direction: row;
}

.name {
  flex-grow: 1
}

.challenge-owner-name-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  font-size: large;
}